.modal1 {
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
}
.modal1.open {
    left: 50%;
    transition: left .5s;
}
.modal1 h3{
    color:pink;
    text-decoration: overline;
    text-transform: capitalize;
}
.modal1 h4 span{
    color:pink;
}
.modal1 > p {
    text-align: left;
}
.add-rating{
    display: block;
    margin: 10px auto;
}

.close-modal1{
    margin: 100px 40%;
    
}